<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leonardo de Carvalho Cordeiro</title>
    {% load staticfiles %}
    <!-- For-Mobile-Apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Strategy a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->

    <!-- Custom-Theme-Files -->
	<!-- Bootstrap-Core-CSS --> <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
	<!-- Style-CSS --> <link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="all" />
	<!-- Font-Awesome-Icons-CSS --> <link href={% static "css/font-awesome.min.css" %} rel="stylesheet" type="text/css" media="all" />
	<!-- Navbar-CSS -->	<link href={% static "css/nav.css" %} rel="stylesheet" type="text/css" media="all"/>
	<!-- Graph-CSS --> <link rel="stylesheet" type="text/css" href={% static "css/graph.css" %} />
	<!-- Swipe-Box-CSS --> <link rel="stylesheet" href={% static "css/swipebox.css" %}>
    <!-- //Custom-Theme-Files -->

    <!-- Font-Awesome-Icons-File -->
	<link href={% static 'fonts/fontawesome-webfont.ttf' %} rel='stylesheet' type='text/css'>
    <!-- //Font-Awesome-Icons-File -->

    <!-- Web-Fonts -->
	<link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- //Web-Fonts -->

</head>
{% block body %}
<body>
</body>
{% endblock %}
</html>